APP_NAME=FinLab
APP_ENV=development
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg2://finlab:finlab@localhost:5432/finlab

MOEX_BASE_URL=https://iss.moex.com/iss
MOEX_DEFAULT_ENGINE=stock
MOEX_DEFAULT_MARKET=shares
MOEX_DEFAULT_BOARD=TQBR